# Dependências locais
*.jar
*.war
*.ear

# Diretórios de build
/bin/
/build/
/target/

# Compilados Java
*.class

# Logs
*.log
*.out
*.err


# Configurações de IDEs
# IntelliJ IDEA
.idea/
*.iml
*.iws
